:root {
    --color-dark-yellow: #eaae00;
    --color-yellow: #ffc400;
    --color-yellow-hover: #e9b302;
    --color-blue: #00bfcb;
    --color-blue-hover: #01a7b3;
    --color-dark-gray: #2d2e42;
    --color-black: #313131;
    --color-white: #ffffff;
    --color-light-blue: #bbeef1;
}