:root {
    --color-dark-yellow: #1da38c;
    --color-yellow: #3bbaa5;
    --color-yellow-hover: #1da38c;
    --color-blue: #93ffee;
    --color-blue-hover: #1da38c;
    --color-dark-gray: #93ffee;
    --color-black: #76e8d6;
    --color-white: #2d2e42;
    --color-light-blue: #bbeef1;
}