.site__header {
    height: 100px;
    background-color: var(--color-dark-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1160px;
}

.header__content img{
    width: 212px;
    height: 100%;
}

.header__menu--desktop,
.header__content form {
    display: none;
}

.header__menu--mobile {
    display: flex;
    column-gap: 40px;
    justify-content: flex-end;
    width: 100%;
    font-size: 1.7rem;
}

.menu__search {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: var(--color-blue);
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white)
}

.menu__mobile_popup {
    width: 0px;
    height: 100%;
    max-height: 500px;
    background-color: var(--color-dark-yellow);
    position: absolute;
    right: 0px;
    top: 100px;
    padding: 10px;
    display: none;
    z-index: 2;
}

.menu__mobile_popup.active {
    display: block;
    width: 300px;
}

.menu__mobile_popup form {
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
}

.header__content .menu__mobile_popup form input {
    background-color: var(--color-yellow);
}

.header__menu--mobile li {
    color: var(--color-white);
    transition: color .3s ease;
}

.header__menu--mobile li:hover {
    color: var(--color-blue);
    cursor: pointer;
}

.header__content form input {
    height: 40px;
    background-color: var(--color-yellow);
    border: none;
    padding-left: 20px;
    outline: none;
}

.header__content form input::placeholder {
    color: var(--color-black);
}

.swiper-horizontal{
    padding: 20px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0px;
}

@media screen and (min-width: 769px) {
    .header__menu--mobile {
        display: none;
    }

    .header__menu--desktop {
        display: flex;
        column-gap: 40px;
        justify-content: center;
        width: 100%;
    }

    .menu__search {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(0%, -50%);
        background-color: var(--color-blue);
        height: 100%;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-white)
    }

    .header__menu--desktop li {
        color: var(--color-black);
        transition: color .3s ease;
    }

    .header__menu--desktop li:hover {
        color: var(--color-blue);
        cursor: pointer;
    }

    .header__content form {
        display: block;
        position: relative;
    }

    .menu__mobile_popup {
        display: none;
    }

    .menu__mobile_popup.active {
        display: none;
    }
}